<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @album.name %>
</p>
<p>
	<b>Cover pic:</b>
	<% if !@album.cover_pic.blank? %>
	<%= image_tag(@album.cover_pic.first.picture.url,:width => 100, :height => 100) %>
	<%end%>
</p>
Album images:
<% @album.images_other_than_cover.each do |image| %>
<p>
	<%= image_tag(image.picture.url,:width => 100, :height => 100) rescue nil %>
</p>
<% end %>
<%= link_to 'Edit', edit_album_path(@album) %> |<%= link_to 'Destroy', @album, method: :delete, data: { confirm: 'Are you sure?' } %>
